body {
  padding-top: 100px; /* padding due to fixed to top navbar */
}

.about-content {
  background-color:#f79e0d;
  padding-top:57px;
  padding-left:70px;
  padding-right:67px;
  padding-bottom:58px;
}

.about-content p {
  font-size:17px;
  line-height:30px;
  color:#FFF;
  padding-bottom:20px;
}

span {
  display: block;
  font-size: 80px;
  color: #f79e0d;
  padding-bottom: 15px;
  }

h2 {
  font-size: 46px;
  line-height: 53px;
  color: #404040;
  font-weight: 800;
  }

p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
}
.container1 {
    box-sizing: border-box;
    height: 100%;
    margin: 4%;
    position: relative;
}
.todo-list {
    border-radius: .5em;
    margin: .2em 0;
    overflow: auto;
}
.item-card {
    background: rgb(245, 245, 245);
    border-radius: 1em;
    border: .2em solid rgb(201, 201, 201);
    box-shadow: 0 .1em .1em 0 rgb(201, 201, 201);
    margin: 1em;
    padding: .5em;
}

.note-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: .5em .5em;
}

.note-title:hover {
    cursor: pointer;
}

.note-desc {
    font-size: 1em;
    font-weight: normal;
    padding: 0 .7em .4em .7em;
    text-overflow: ellipsis;
}


/* .navbar li a {
	display: inline-block;
	float: right;

	color: #f79e0d;
}
.navbar li a, .navbar-brand {
	text-transform: uppercase;
	text-decoration: none;
  line-height: 60px;
	padding: 0 30px;
} */
